.popup__button-exit {
    width: 32px;
    height: 32px;
    background: url('../../../images/Close_Icon.svg') no-repeat center;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}