.profile__avatar {
    background-size: cover;
    display: flex;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transition: all 0.5s ease-in-out;
}

.profile__avatar:hover {
    cursor: pointer;
    opacity: 0.2;
}