.button {
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    transition: opacity linear 0.3s;
}

@media screen and (min-width: 1024px) {
    .button:hover {
        opacity: 0.6;
    }
}